body{
	/*background-color: white*/
	background-image: url("backgroun11.jpg");
	/*background-size: 100%;
    /*background-repeat: no-repeat;*/
}

p{
	border: 10px solid black;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 130px;
    margin-left: 0px;
}

.boxed{
    margin-top: 280px;
    margin-bottom: 50px;
    margin-right: 900px;
    margin-left: 600px;
}

.boxed1{
    margin-top: 730px;
    margin-bottom: 100px;
    margin-right: 130px;
    margin-left: 600px;
}

.boxed2{
    margin-top: 740px;
    margin-bottom: 100px;
    margin-right: 130px;
    margin-left: 600px;
}

.box{
	vertical-align: bottom;
	
}

.footer {
    position:fixed;bottom:0;

    width:100%;
    display:block;
}
